/*Цвета*/
$bg_color: #fff;
$logo_color: #fcae61;
$text_color: #616368;
$head_title_color: #242f51; 
$button_bg: #2500f9;
$red_color: #f55767;
$blue_color: #2563ff;
$green_color: #40975f;
$border_color: #ebebeb;
$questions_color: #f5f7fa;
$footer_color:#09142e;

$slow_trans: .5s;
$fast_trans: .2s;

