.technology {
  margin-bottom: 7rem;
  &__wrapper {
    justify-content: space-around;
  }
  &__img {
    margin-bottom: 6rem;
  }
  .sections-suptitle {
    margin-bottom: 4.5rem;
  }
}

// >= 768px
@media (min-width: 768px) {
  .technology {
    &__img {
      margin-bottom: initial;
    }
  }
}
//  >= 1200px
@media (min-width: 1200px) {
  .technology {
    &__img {
      img {
        transform: translateX(-60px);
      }
    }
    &__wrapper {
      justify-content: initial;
    }
  }
}
